body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('photo/фон2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



#link-C {
    padding-top: 55px;
    margin-top: 0px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 0px;
    z-index: 1;
}

.header__wrapper {
  
    margin-right: 220px;
    display: flex;
    justify-content: center;
}

#logotip {
    width: 150px;
    height:65px;
    margin-top: -15px;
}

ul#menu li {
    display: inline-block;
}

#menu, #menu li {
    width: auto;
    margin: 0 auto;
    height: auto;
}

#menu {
    text-align: center;
    background-color: #ffffff;
}

#menu li {
    padding: 0px;
    margin: 0px;
    display: inline-block; /* расположить пункты горизонтально */
    text-align: center; /* текст горизонтально по центру */
}

#menu a {
    padding: 10px 17px; /* задаем внутренние отступы */
    color: #000000; /* цвет текста */
    font-size: 200%;
    text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
}

#menu a:hover {
    background: #d6dbd3; /* фон пунктов при наведении */
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 40px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ffd280; /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

 /*--------------------------------------------------------------------------*/

.title {
    font-size: 35px;
    color: #000000;
    font-weight: bold; 
    text-transform: uppercase;
    line-height: 0.5;
    text-align: center;
    position: relative;
    background: #ffffff;
    padding: 0px 20px;
    text-shadow: 2px 4px 6px rgba(75, 75, 75, 0.45); /* тень заголовка */
}

.title span {
    background: #ffffff;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
}

.title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;        
    width: 100%;
    height: 3px; /* ширина линии */
    background: #000000; /* цвет линии */
    box-shadow: 2px 4px 6px rgba(54, 54, 54, 0.45); /* тень линии */
}

.title__salon {
    line-height: 1.2;
    font-family: Georgia, serif;
    font-size: 40px;
    color: black;
    text-shadow:
    0 0 6px #ffffff,
    0 0 10px #ffffff,
    0 0 12px #fff4bc,
    0 0 15px #ffeaa3,
    0 0 18px #eccda9,
    0 0 20px #af977b,
    0 0 25px #85735c;
}

.text__salon {
    font-family: Georgia, serif;
    font-size: 20px;
}

.footer-distributed{
	background: rgba(22, 20, 19, 0.921);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 18px Georgia, serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px Georgia, serif, cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  rgb(214, 191, 117);
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  rgb(235, 203, 135);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #000000;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin-top: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin-top: 0px;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:16px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(196, 178, 98);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 24%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}
.footerca{
    line-height: 15px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;

    letter-spacing: 0.3px;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.icont1 {
    margin-left: -30px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.icont2 {
    margin-left: -36px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.catalog__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Выравнивание блоков по центру с промежутками между ними */
}

.service-block {
    width: 30%; /* Ширина блока с услугой */
    margin-bottom: 20px; /* Промежуток между блоками */
    text-align: center; /* Выравнивание текста по центру */
    box-sizing: border-box; /* Учитываем паддинги в ширине блока */
}

.service-block img {
    width: 100%; /* Ширина изображения */
    height: 100%; /* Высота изображения */
    object-fit: cover; /* Обрезка изображения по размеру блока */
}

/* Стили для модальных окон */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Фиксированное позиционирование */
    z-index: 100; /* Отображать поверх всего */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Включить прокрутку при необходимости */
    background-color: rgb(0,0,0); /* Черный фон с прозрачностью */
    background-color: rgba(0,0,0,0.4); /* Черный фон с прозрачностью */   
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Центрирование модального окна */
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Фиксированная ширина модального окна */
    max-width: 90%; /* Максимальная ширина для адаптивности */
    border-radius: 5%;
}

/* Стили для кнопки закрытия модального окна */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.catalog__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Промежуток между блоками */
    padding: 20px;
}

.service-block {
    width: calc(30.333% - 40px); /* Ширина блока с учетом промежутков */
    width: 600px;
    height: 400px; /* Фиксированная высота блока */
    text-align: center;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-block:hover {
    transform: scale(1.05);
}

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; /* Занять всю высоту блока */
}

.service-content img {
    width: 100%;
    height: calc(100px - 40px); /* Фиксированная высота изображения */
    object-fit: cover;
    border-radius: 10px;
}

.service-content p {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}
/* Стили для модальных окон */


/* Общий стиль для текста в модальном окне */
.modal-text {
    text-align: center;
}

/* Стили для изображения в модальном окне */
#modal-img {
    max-width: 100%; /* Максимальная ширина изображения в пределах модального окна */
    height: auto; /* Автоматическая высота для поддержки соотношения сторон */
    display: block; /* Чтобы изображение выровнялось по центру */
    margin: 0 auto; /* Центрирование изображения */
}

/* Дополнительные стили для текста в модальном окне */
#modal-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.modal-content img {
    width: 300px; /* Устанавливаем ширину в 300 пикселей */
    height: 400px; /* Устанавливаем высоту в 400 пикселей */
    object-fit: cover; /* Чтобы изображение занимало всю доступную область */
    border-radius: 10px; /* Округляем углы изображения */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content img {
    max-width: 300px;
    margin-right: 20px;
}
.modal-content p {
    flex: 1;
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.service-block {
    cursor: pointer;
}



/* Стили для кнопки "Прайс" */
.contact-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFD700;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;
    margin-right: 1430px;
    margin-bottom: 0px;
}

.contact-btn:hover {
    background-color: #FFC107;
}


/* Стили для окна прайса */
.popup {
    position: fixed;
    top: -100%; /* Начальное положение окна вне экрана */
    margin-right: 480px;
    left: 0;
    width: 500px;
    border-radius: 10%;
    background-color: #ffeec8;
    padding: 20px;
    transition: top 0.5s ease;
    z-index: 9999;
    display: flex;
    justify-content: center;
}



/* Стили для кнопки закрытия */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}


/* Анимация для выезда окна */
.popup.slide-down {
    top: 0; /* Показываем окно сверху */
}
